#contact_modal {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.infoPhotographer {
    margin-left: 100px;
}

.photograph-header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow-clip-margin: unset;
    margin-right: 100px;
}

.error {
    color: rgb(0, 0, 0);
}

#headerName {
    text-align: left;
    padding-top: 30px;
}

#namefirst {
    margin-top: 80px;
}

#message {
    height: 300px;
}

select {
    background-color: #901C1C;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding-right: 30px;
}

#media-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.media-card {
    width: 350px;
    margin: 10px;
}

.media-card img,
.media-card video {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media-like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rectangle-fixe {
    position: fixed;
    bottom: 0px;
    right: 50px;
    background-color: #D3573C;
    width: 376px;
    height: 89px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hidden {
    display: none !important;
}

#media-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    background-color: white;
    max-width: 90%;
    max-height: 90%;
    align-items: center;
}

.media-content img,
.media-content video {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 4px;
    display: block;
}

.media-title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    color: #901C1C;
}

.previous, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 84%;
    height: 100%;
    cursor: pointer;
    margin: 30px;
    font-size: 48px;
    color: #901C1C;
}

.media-cross {
    position: relative;
    display: inline-block;
}

.cross {
    position: absolute;
    top: 0px;
    right: -50px;
    color: #901C1C;
    cursor: pointer;
    font-size: 42px;
}

